.mobile{
  max-width: 480px;
  height: 800px;
  border: 1px solid grey;
  border-radius: 2rem;
  overflow-x: hidden;
  margin-left: 5rem;
  margin-top: 1rem;
}

nav img{
  height: 1.5rem;
}

header{
  position: relative;
  color: white;
}

a{
  text-decorate: none;
  color: inherit;
}

nav{
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  padding: 0 1.5rem;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-family: "Roboto";
}
menu, nav{
  display: flex;
  justify-content: space-between;
}

.image img{
  max-width: 100%;
  height: 300px;
  object-fit: cover;
  clip-path: ellipse(100% 100% at 48% 0%);
}

.image{
  filter: drop-shadow(0 10px 4px rgba(0,0,0,0.5));
}

ul {
  list-style: none;
  display: flex;
  
}

li span{
  display: block;
  margin-bottom: 0.25rem;
}

.info{
  margin: 1rem auto;
  text-align: center;
  justify-content: center;
}

.info li + li{
  margin-left: 2rem;
} 

.discription{
  text-align: center;
}

menu{
  height: 3rem;
  /*margin-top: -1.5rem;*/
  transform: translatey(-50%);
  padding: 0 1.5rem;
  color: #222;
  align-items: flex-end;
}

.play-btn{
  background: white;
  color: #df3e54;
  line-height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  text-align: center;
  justify-content: center;
  align-items:center;
  box-shadow: 0 0 5px 5px rgba(20,20,20,0.5);
}

.active{
  color: #df3e54;
}

.menu i{
    font-size: 1.5rem;
}

.snaps{
  width: 500px;
}

.Screenshot-list img{
  width: 10rem;
  height: 8rem;
  border-radius: 1rem;
}

.Screenshot-list li + li{
  margin-left: 0.1rem; 
}

section + section{
  margin-top= 1rem;  
}

.text-grey{
  color: #999;
}

.font-bold{
  font-weight: bold;
}

.font-s{
  font-size: 0.9rem;
}

.matter{
  line-height: 1.5; 
}

.rating{
  display: flex;
  justify-content: center;
}

h1, p, .rating{
  margin-bottom: 0.7rem;
}

h2{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}